
.back{
    background:url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height:100vh;
    width: 100%;
    overflow:hidden;
}
img{
    height:300px;
    margin:500px 100px;
    
    
}